{% extends 'base.html' %}

{% load static %}

{% block main %}

<div class="container container__lg">

  <div class="loader">
    <div id="loader"></div>
  </div>

  <div class="templates__subtitles">
    <nav class="subtitles__options">
      <ol id="subtitles"></ol>
    </nav>
  </div>

  <!-- .templates -->
  <div id="content" class="templates"></div>
  <!-- /.templates -->
</div>

<script>

  $(document).ready(function () {
    $.ajax({
      url: "{% url 'template_data' template_data %}",
      type: 'get',
      success: function (response) {

        $.fn.loadSubtitles(response.regions);

        var content = $("#content");

        response.regions.forEach(region => {
          var newRegion = $.fn.loadRegion(region);
          content.append(newRegion);
        });

        $(".subtitles__option").click(function() {
          const section_id = $(this).attr("data-section");
          const sections = $(".regionsItem");

          if (section_id == "0") {
            sections.show();
          } else {
            sections.hide();
            $("#" + section_id).show();
          }
        });
        
        $(".templates__subtitles").css("border-bottom", "1px solid black");
        $("#loader").hide();
      },
    });
  });
</script>

{% endblock %}