{% extends 'base.html' %}

{% block main %}

<div class="container">
  <div class="form__box">
    <h3>Edit the template</h3>
    <form method="post" enctype="multipart/form-data">

      {% csrf_token %}
      {{ form.as_p }}

      <div class="form__buttons">
        <input type="submit" value="Save changes">
        <a href="{% url 'templates' %}" class="button">Return</a>
        <a href="{% url 'templates_delete' form.instance.pk %}" class="button button__red">Delete</a>
      </div>
      
    </form>
  </div>
</div>

{% endblock %}