{% extends 'base.html' %}

{% block main %}

<div class="container">

  <div class="loader">
    <div id="loader"></div>
  </div>

  <div class="form__box">
    <h3>Edit the template</h3>
    <form method="post" enctype="multipart/form-data">

      {% csrf_token %}
      {{ form.as_p }}

      <p>
        <label>Region:</label>
      </p>

      <div class="form__regions">
      <label for="option"> All Regions  </label>
      <input type="checkbox" id="allRegions"> 
      </div>

      <div id="regions"></div>

      <div class="form__buttons">
        <input type="submit" value="Save changes">
        <a href="{% url 'templates' %}" class="button">Return</a>
        <a href="{% url 'templates_delete' form.instance.pk %}" class="button button__red">Delete</a>
      </div>
      
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".form__box").hide();
    checkTaskStatus(
      "{% url 'regions_check' task %}", loadRegions 
    );
  });
</script>

{% endblock %}