{% extends 'base.html' %}

{% block main %}

<div class="container container__lg">

  <div class="template__title">
    <h3>{{ template.name }}</h3>
    <ul>
      <li><b>Рік: </b>{{ template.year }}</li>
      <li><b>Освітній ступінь: </b>{{ template.qualification }}</li>
      <li><b>Основа вступу: </b>{{ template.education_base }}</li>
      <li><b>Спеціальності:</b>
        <ol>
          {% for speciality in template.speciality.all %}
            <li>{{ speciality.name }}</li>
          {% endfor %}
        </ol>
      </li>
    </ul>
  </div>

  <div class="loader">
    <div id="loader"></div>
  </div>

  <div class="templates__subtitles">
    <nav class="mode__options">
      <ol id="modes">
        <li class="mode__option" data-value="unis">
          <a href="#">Статистичні дані</a>
        </li> 
        |
        <li class="mode__option" data-value="short">
          <a href="#">Зведені дані</a>
        </li>
        |
        <li class="mode__option" data-value="programs">
          <a href="#">Освітні програми</a>
        </li>
      </ol>
    </nav>
  </div>

  <div class="templates__subtitles">
    <nav class="subtitles__options">
      <ol id="subtitles">
        <li class="subtitles__option" data-section="0">
          <a href="#">Всі області</a>
        </li>
      </ol>
    </nav>
  </div>

  <!-- .templates -->
  <div id="content" class="templates"></div>
  <!-- /.templates -->
</div>

{% csrf_token %}
<script>
  $(document).ready(function () {
    $(".template__title").hide();
    $(".templates__subtitles").hide();
    checkTaskStatus(
      "{% url 'check_task' task %}", 
      document.querySelector(
        '[name=csrfmiddlewaretoken]'
      ).value,
      loadInfo,
      { "template": "{{ template.id }}" }
    );
  });
</script>

{% endblock %}