{% extends 'base.html' %}

{% block main %}

<div class="container container__lg">

  <div class="loader">
    <div id="loader"></div>
  </div>

  <div class="templates__subtitles">
    <nav class="mode__options">
      <ol id="modes"></ol>
    </nav>
  </div>

  <div class="templates__subtitles">
    <nav class="subtitles__options">
      <ol id="subtitles"></ol>
    </nav>
  </div>

  <!-- .templates -->
  <div id="content" class="templates"></div>
  <!-- /.templates -->
</div>

<script>
  $(document).ready(function () {
    checkTaskStatus(
      "{% url 'check_task' task %}", loadInfo
    );
  });
</script>

{% endblock %}