{% extends 'base.html' %}

{% block main %}

<div class="container container__lg">

  <h3 class="template__name">{{ template.name }}</h3>

  <div class="loader">
    <div id="loader"></div>
  </div>

  <div class="templates__subtitles">
    <nav class="mode__options">
      <ol id="modes">
        <li class="mode__option" data-value="unis">
          <a href="#">Статистичні дані</a>
        </li> 
        |
        <li class="mode__option" data-value="short">
          <a href="#">Зведені дані</a>
        </li>
      </ol>
    </nav>
  </div>

  <div class="templates__subtitles">
    <nav class="subtitles__options">
      <ol id="subtitles">
        <li class="subtitles__option" data-section="0">
          <a href="#">Всі регіони</a>
        </li>
      </ol>
    </nav>
  </div>

  <!-- .templates -->
  <div id="content" class="templates"></div>
  <!-- /.templates -->
</div>

<script>
  $(document).ready(function () {
    $(".template__name").hide();
    $(".templates__subtitles").hide();
    checkTaskStatus(
      "{% url 'check_task' task %}", loadInfo
    );
  });
</script>

{% endblock %}