{% extends 'base.html' %}

{% block main %}

<div class="container">

  <div class="loader">
    <div id="loader"></div>
  </div>

  <div class="form__box">
    <h3>Create a new template</h3>
    <form method="post" enctype="multipart/form-data">

      {% csrf_token %}

      <p>
        {{ form.name.label_tag }}
        {{ form.name }}
      </p>
      <p>
        {{ form.year.label_tag }}
        {{ form.year }}
      </p>
      <p>
        {{ form.qualification.label_tag }}
        {{ form.qualification }}
      </p>
      <p>
        {{ form.education_base.label_tag }}
        {{ form.education_base }}
      </p>

      <p>
      <details class="form__checkbox">
        <summary>{{ form.speciality.label_tag }}</summary>
        {{ form.speciality }}
      </details>
      </p>

      <div>
        <label>Обрати університети:</label>

        <div class="form__regions form__checkbox">
          <label for="option"> All Regions </label>
          <input type="checkbox" id="allRegions">
        </div>

        <div id="regions" class="form__checkbox"></div>
      </div>

      <div class="form__buttons">
        <input type="submit" value="Create">
      </div>

    </form>
  </div>
</div>

{% csrf_token %}
<script>
  $(document).ready(function () {
    $(".form__box").hide();
    checkTaskStatus(
      "{% url 'check_task' task %}",
      document.querySelector(
        '[name=csrfmiddlewaretoken]'
      ).value,
      loadRegions
    );
  });
</script>

{% endblock %}