{% extends 'base.html' %}

{% block main %}

<div class="container">
  <div class="form__box">
    <h3>Create a new template</h3>
    <form method="post" enctype="multipart/form-data">

      {% csrf_token %}
      {{ form.as_p }}

      <p>
        <label>Region:</label>
      </p>

      <div class="form__regions">
      <label for="option"> All Regions  </label>
      <input type="checkbox" id="allRegions"> 
      </div>

      {% for region_id, region in regions.items %}

        <details class="form__regions">
          <summary>
            <label for="option"> {{ region.name }} </label>
            <input id="{{ region_id }}" class="form__option" type="checkbox"> 
          </summary>
          <ol>

            {% for uni in region.unis %}

              <li>
                <label>
                  <input class="form__suboption" 
                  type="checkbox" 
                  name="university" 
                  value="{{ uni.university_id }}" 
                  data-option="{{ region_id }}"> 
                  {{ uni.university_name }}
                </label>
              </li>

            {% endfor %}

          </ol>
        </details>

      {% endfor %}

      <div class="form__buttons">
        <input type="submit" value="Create">
      </div>

    </form>
  </div>
</div>

{% endblock %}