/*

Version : v.1.1
Created : april 2022
HTML/CSS/JS : https://andreym1986.github.io

*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&family=Open+Sans:wght@600&family=Roboto&display=swap');


@font-face {
  font-family: "Pixel Digivolve Cyrillic";
  src: url("../fonts/Pixel Digivolve Cyrillic/Pixel Digivolve Cyrillic.eot");
  /* IE9*/
  src: url("../fonts/Pixel Digivolve Cyrillic/Pixel Digivolve Cyrillic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/Pixel Digivolve Cyrillic/Pixel Digivolve Cyrillic.woff2") format("woff2"),
    /* chrome、firefox */
    url("../fonts/Pixel Digivolve Cyrillic/Pixel Digivolve Cyrillic.woff") format("woff"),
    /* chrome、firefox */
    url("../fonts/Pixel Digivolve Cyrillic/Pixel Digivolve Cyrillic.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/Pixel Digivolve Cyrillic/Pixel Digivolve Cyrillic.svg#Pixel Digivolve Cyrillic") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: #fff;
  background: #05A4FD;
}

::-moz-selection {
  color: #fff;
  background: #05A4FD;
}

body {
  font: normal normal 1rem/1.5 'Fira Sans', Arial, Tahoma, sans-serif;
  color: #000;
  background: #f9f9f9;
}

/* fonts */
.font__Open_Sans,
.button,
.nav {
  font-family: 'Open Sans', sans-serif;
}

.font__Roboto {
  font-family: 'Roboto', sans-serif;
}

.font__Pixel {
  font-family: "Pixel Digivolve Cyrillic";
}

/* Typography */
a {
  color: #05A4FD;
  text-decoration: none;
  transition: color .2s ease;
}

a:hover,
a:active {
  color: #000;
  text-decoration: underline;
}

a:focus {
  outline: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: 32px;
  color: #000;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2.25rem;
}

h3,
.h3 {
  font-size: 1.875rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1.125rem;
}

h6,
.h6 {
  font-size: 1.125rem;
}

@media (min-width:1200px) {

  h1,
  .h1 {
    font-size: 3rem;
  }

  h2,
  .h2 {
    font-size: 2.25rem;
  }

  h3,
  .h3 {
    font-size: 2rem;
  }
}


img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

b,
strong,
.bold {
  font-weight: bold;
}

.center {
  text-align: center
}

p {
  margin: 0 0 16px
}


/* general blocks */
.wrapper {
  overflow: hidden;
  position: relative
}

.main {
  font-size: 1.25rem;
  min-height: calc(100vh - 108px);
  padding-bottom: 32px;
}

.container {
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px;
  }

  .container.container__sm {
    max-width: 836px;
  }
}

@media (min-width:1200px) {
  .main {
    font-size: 1.25rem;
    min-height: calc(100vh - 120px)
  }

  .container {
    max-width: 1160px;
  }
}

@media (min-width:1400px) {
  .container {
    max-width: 1250px;
  }
}

@media (min-width:1600px) {
  .container.container__md {
    max-width: 1306px;
  }

  .container.container__lg {
    max-width: 1460px;
  }

  .container.container__xl {
    max-width: 1564px;
  }
}

/* bg */
.yellow {
  background-color: #FFFEE9
}

.purple {
  background-color: #E9F1FF
}

.green {
  background-color: #E9FFEB
}

.red {
  background-color: #FFE9F8
}

.orange {
  background-color: #FFF2E9
}

/* .hidden_... */
@media (min-width:1200px) {
  .hidden__desktop {
    display: none !important
  }
}

@media (max-width:1199px) {
  .hidden__mobile {
    display: none !important
  }
}

/* .header */
.header {
  position: relative;
  width: 100%;
  z-index: 1000;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 40px #E3E3E3;
  margin-bottom: 32px;
}

.header__inner {
  padding: 18px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.header__box {
  display: flex;
  align-items: center
}

@media (min-width:1200px) {
  .header__inner {
    padding: 22px 32px;
  }
}

/* .navToggle */
.navToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 40px;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  font-size: 0;
  text-indent: -9999px;
  color: transparent;
  position: relative;
}

.navToggle__inner {
  position: relative;
  width: 30px;
  height: 18px;
}

.navToggle__inner i {
  position: absolute;
  left: 0;
  top: 50%;
  width: 30px;
  height: 2px;
  display: block;
  background-color: #000;
  transition: 0.2s linear
}

.navToggle__inner i:nth-child(1) {
  top: 0
}

.navToggle__inner i:nth-child(3) {
  top: 100%;
}

.navToggle:focus {
  outline: none
}

.navActive .navToggle__inner i:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}

.navActive .navToggle__inner i:nth-child(2) {
  opacity: 0
}

.navActive .navToggle__inner i:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}

@media (min-width:1200px) {
  .navToggle {
    display: none;
  }
}

/* #nav */
.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%
}

.nav ul li {
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-end;
}

.nav__link {
  font-weight: 600;
  color: #000;
  display: block;
  position: relative;
  font-size: 1.25rem
}

.nav__link:hover {
  color: #000;
  text-decoration: none;
}

.nav__link:after {
  display: block;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #05A4FD;
  transition: width 0.2s linear;
}

.nav__link:hover:after,
.nav__link:focus:after {
  width: 100%
}

@media (min-width:1200px) {
  .nav {
    margin-left: 16px
  }

  .nav ul {
    display: flex;
    align-items: center;
  }

  .nav ul li {
    margin-bottom: 0;
    margin-right: 16px
  }

  .nav ul li:last-child {
    margin-right: 0 !important;
  }

  .nav__link {
    font-size: 16px;
  }
}

@media (min-width:1600px) {
  .nav {
    margin-left: 48px
  }

  .nav ul li {
    margin-right: 24px
  }
}

@media (max-width:1199px) {
  #nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 76px;
    bottom: 0;
    z-index: 1002;
    overflow-x: hidden;
    overflow-y: auto;
    background: #f9f9f9;
    display: none;
    padding: 32px;
  }

  .navActive {
    overflow: hidden
  }

  .navActive #nav {
    display: flex
  }
}

/* .backLink */
.backLink {
  position: absolute;
  top: 4px;
  left: -160px;
  display: none
}

@media (min-width:1600px) {
  .backLink {
    display: block;
  }
}

/* .templates */
.templates {
  margin: -32px -16px 0 -16px;
  position: relative
}

.templates--titles h3 {
  margin-top: 30px;
  margin-left: 20px;
}

@media (min-width: 576px) {
  .templates {
    margin: 0
  }
}

.regionsItem h3 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 40px;
}

/* .templatesItem */
.templatesItem {
  padding: 24px 16px;
  display: flex;
  font-size: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
 
  @media (max-width: 576px) {
    .templatesItem:nth-child(even) {
      background-color: #EFF3F8
    }
  }

  @media (min-width: 576px) {
    .templatesItem:nth-child(odd) {
      background-color: #EFF3F8
    }
  }

.templatesItem__icon {
  width: 24px;
  flex-shrink: 0;
  margin-right: 16px;
  padding-top: 4px;
}

.templatesItem__desc__name {
  font-size: 1.6rem;
  margin: 15px;
}

.templatesItem__desc__name a {
  color: #000
}

.templatesItem__desc__text {
  color: #494949
}

.templatesItem__desc--table {
  width: 100%;
}

  .templatesItem__desc--table .templatesItem__desc__text {
    overflow-x: auto;
  }

  .templatesItem__desc--table table {
    border: 2px solid black;
    width: 100%;
  }

  .templatesItem__desc--table th, td {
    border: 1px solid #ddd;
    padding: 15px;
  }

  /* .templatesItem__desc--table tr:nth-child(even){background-color: #f2f2f2} */

.templates__subtitles {
  margin: 15px;
}

.mode__options ol,
.subtitles__options ol {
    list-style-type: none;
    padding-left: 0;
}

.mode__option,
.subtitles__option {
    display: inline-block;
}

.mode__option a::after,
.subtitles__option a::after {
    display: inline-block;
    color: #000;
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

/*.mode__options ol {
  list-style-type: none;
  padding-left: 0;
}

.mode__option {
  display: inline-block;
}

.mode__option a::after {
  display: inline-block;
  color: #000;
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}*/

.templatesItem__buttons {
  display: flex;
  align-items: center;
}

.templatesItem__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px
}

.templatesItem__button:last-child {
  margin-right: 0;
}

@media (min-width:1200px) {
  .templatesItem {
    padding: 24px;
  }

  .forumItem__user {
    display: flex;
  }
}

/* .modal */
.modal-header {
  border-bottom: 0;
  border-bottom: 0;
  padding: 32px 32px 16px
}

.modal-title {
  font-weight: 700;
  font-size: 1.125rem;
}

.modal-body {
  padding: 32px;
}

@media (min-width:575px) {
  .modal-dialog {
    max-width: 544px;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader {
  border: 30px solid #f3f3f3;
  border-radius: 50%;
  border-top: 30px solid black;
  border-bottom: 30px solid black;
  width: 250px;
  height: 250px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .btn */
.button {
  display: inline-block;
  border: 2px solid #000;
  background: none;
  padding: 9px 16px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  transition: 0.2s linear;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: none;
  border-color: #05A4FD;
  color: #05A4FD;
  text-decoration: none;
}
  
  .button__red:hover,
  .button__red:focus {
    background: none;
    border-color: #fd0505;
    color: #fd0505;
    text-decoration: none;
  }

.button:focus {
  outline: none
}

.button__lg {
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.button__orange {
  background-color: #FF9933;
  border-color: #FF9933;
  color: #8E4819;
  font-weight: 700;
  padding: 18px;
  font-size: 1.125rem;
}

.button__orange:hover,
.button__orange:focus {
  background-color: #8E4819;
  border-color: #8E4819;
  color: #FF9933;
}

@media (min-width:1200px) {
  .button__orange {
    padding: 24px;
    font-size: 1.5rem;
  }
}

/* .textarea */
.textarea {
  display: block;
  border: 1px solid #000;
  padding: 16px;
  margin-bottom: 24px;
  background: #F9F9F9;
  border-radius: 4px;
  width: 100%;
}

.textarea:focus {
  outline: none;
  border-color: #05A4FD
}

/* .input */
.input {
  display: block;
  width: 100%;
  border: 1px solid #979797;
  background: none;
  padding: 14px 16px;
  line-height: 1;
  color: #000;
  -webkit-appearance: none;
  border-radius: 6px;
}

.input:focus {
  outline: none;
  border-color: #05A4FD
}

.form__checkbox input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  height: 16px;
  width: 20px;
}

/* form */
.form__box {
  margin-bottom: 16px;
}

.form__buttons {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

  .form__buttons > * {
    margin-top: 20px;
    margin-right: 1.5em;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

.label {
  display: block;
  line-height: 1;
}

input[type=text], [type=password], [type=email], [type=file] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-style: solid;
}

input[type=submit]:hover {
  background-color: white;
  color: black;
}