{% extends 'base.html' %}

{% block main %}

{% if messages %}
  {% for message in messages %}
    <script>alert("{{ message }}")</script>
  {% endfor %}
{% endif %}

<div class="container">
  <div class="form__box">
    <h3>Ваш профіль:</h3>
    <form method="post" enctype="multipart/form-data">

      {% csrf_token %}
      {{ form.as_p }}

      <div class="form__buttons">
        <input type="submit" value="Зберегти зміни">
        <a href="{% url 'change_password' %}" class="button">Змінити пароль</a>
      </div>
      
    </form>
  </div>
</div>

{% endblock %}